/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    /* Font families */
    --familiy-overpass: "Overpass", sans-serif;
    --family-ubuntu: "Ubuntu", sans-serif;

    font-family: var(--family-ubuntu);

    /* ## Colors */

    /* ### Primary */

    /* (CTA text) */
    --light-red: hsl(356, 100%, 66%);

    /* (CTA hover background) */
    --very-light-red: hsl(355, 100%, 74%);

    /* (headings) */
    --very-dark-blue: hsl(208, 49%, 24%);

    /* ### Neutral */
    /* (text) */
    --white: hsl(0, 0%, 100%);

    /* (footer text) */
    --grayish-blue: hsl(240, 2%, 79%);

    /* (body copy) */
    --very-dark-grayish-blue: hsl(207, 13%, 34%);

    /* (footer background) */
    --very-dark-black-blue: hsl(240, 10%, 16%);

    /* ### Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --very-light-red-lg: hsl(13, 100%, 72%);
    --light-red-lg: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --custom-max-width: 1250px;

    overflow-x: hidden;
}

/**********/
/* Header */
/**********/

header {
    position: relative;
}

header button.hamburger {
    background: none;
    border: none;
}

header .background-shape {
    background: linear-gradient(
        180deg,
        var(--very-light-red-lg) 0%,
        var(--light-red-lg) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 0 70px;
    height: 28rem;
}

.background-shape svg {
    border-radius: 0 0 0 70px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 0;
}

header .inner .desktop-right {
    display: none;
}

header .desktop-left .desktop-links {
    display: none;
}

/* Mobile Menu */

header .mobile-menu-modal {
    width: 90%;
    padding: 2rem 1.5rem;
    margin-top: 5rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.mobile-menu-modal .account-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 0;
    border-top: 1px solid var(--grayish-blue);
}

header .desktop-right button, 
.mobile-menu-modal .account-btns button {
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 8rem;
    margin-inline: auto;
    border: none;
    padding: .8rem 0;
}


.mobile-menu-modal .account-btns .login-btn {
    background: var(--white);
    color: var(--very-dark-blue);
}

.mobile-menu-modal .account-btns .signup-btn {
    background: linear-gradient(
        45deg,
        var(--very-light-red-lg) 0%,
        var(--light-red-lg) 100%
    );
    color: var(--white);
}

.mobile-menu-modal .mobile-accordion {
    overflow: hidden;
}

.mobile-menu-modal .mobile-accordion-button {
    display: flex;
    gap: .5rem;
    background: none;
    width: 5rem;
    margin-inline: auto;
    align-items: center;
    border: none;
    padding: 0;
    font-weight: 700;
}

.mobile-menu-modal .mobile-accordion-content {
    background-color: var(--grayish-blue);
    border-radius: 10px;
    padding: 1rem 0;

    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    opacity: 0;
}

.mobile-menu-modal .accordion-active .mobile-accordion-content{
    opacity: 1;
    margin: .8rem 0;
}

.mobile-menu-modal .mobile-accordion-content ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: fit-content;
    margin-inline: auto;
}

.mobile-menu-modal .mobile-accordion-content ul li a {
    color: var(--very-dark-grayish-blue);
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/********/
/* Main */
/********/

main .intro {
    padding: 6rem 1rem 0;
    text-align: center;
    color: var(--white);
}

.intro h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: var(--familiy-overpass);
}

.intro p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.intro .buttons button:nth-of-type(1) {
    background: var(--white);
    color: var(--light-red);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.intro .buttons button:nth-of-type(2) {
    background: transparent;
    color: var(--grayish-blue);
    border: 1px solid var(--grayish-blue);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main .design-future {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 16rem;
}

/* Design future section */

.design-future .design-future-text h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: var(--familiy-overpass);
}

.features {
    margin-top: 2rem;
}

.features div {
    padding: 0rem 1rem;
}

.features div:nth-of-type(1) {
    margin-bottom: 2.5rem;
}

.features-two .features-two-text .feature h3,
.features div h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-family: var(--familiy-overpass);
    max-width: 12rem;
    margin-inline: auto;
}

.features-two .features-two-text .feature p,
.features div p {
    font-size: 0.8rem;
    color: var(--grayish-blue);
    margin-inline: auto;
    max-width: 20rem;
}

/* State of the art section */

section.state-of-art {
    text-align: center;
    margin-bottom: 6rem;
    position: relative;

    background-color: var(--very-dark-gray-blue);
    border-radius: 0 60px 0 60px;
    background-image: url(/images/bg-pattern-circles.svg);
    background-position: center top -15rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16rem 2rem 6rem;
}

.state-of-art .state-of-art-image {
    position: absolute;
    bottom: 64%;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.state-of-art .state-of-art-text {


    color: var(--white);

}

.state-of-art-text h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: var(--familiy-overpass);
}

/* Features 2 */

.features-two {
    margin-bottom: 6rem;
}

.features-two .features-two-text {
    margin-top: 2rem;
    text-align: center;
}

.features-two .features-two-text .feature h3 {
    margin-bottom: 2rem;
}

.features-two .features-two-text .feature:nth-of-type(1) {
    margin-bottom: 2rem;
}

/**********/
/* Footer */
/**********/

footer {
    color: var(--white);
    background-color: var(--very-dark-black-blue);
    padding: 5rem 0 2rem;
    text-align: center;
    border-radius: 0 70px 0 0;
}

footer .footer-logo {
    margin-bottom: 4rem;
    margin-inline: auto;
}

footer .footer-links .link-group {
    margin-bottom: 2.5rem;
}

footer .footer-links .link-group ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer .footer-links .link-group h4 {
    margin-bottom: 1.5rem;
}

footer .footer-links .link-group ul li a {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/*****************/
/* Media Queries */
/*****************/

@media screen and (min-width: 768px) {

    header .inner {
        align-items: flex-start;
        max-width: var(--custom-max-width);
        margin-inline: auto;
    }


    header .inner .hamburger {
        display: none;
    }

    .desktop-left {
        display: flex;
        gap: 5rem;
    }

    .desktop-left .desktop-links {
        display: flex !important;
        gap: 3rem;
    }

    .desktop-left .desktop-links .desktop-link-group {
        position: relative;
    }

    .desktop-links .desktop-link-group button.desktop-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border: none;
        align-items: center;
        color: var(--white);
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0;
    }

    .desktop-link-group button.desktop-link .button-content {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .desktop-link-group .desktop-link-content {
        background-color: var(--white);
        padding: 2rem 0rem;
        border-radius: 6px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        width: 12.5rem;
        padding-left: 1.3rem;
        margin-top: 1rem;
        position: absolute;
        left: -64%;

        display: none;
    }

    .desktop-link-group .desktop-link-content ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .desktop-link-group .desktop-link-content ul li a {
        color: var(--very-dark-grayish-blue);
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .desktop-link-group .desktop-link-content ul li a:hover {
        font-weight: 700;
    }

    .desktop-right {
        display: flex !important;
    }

    .desktop-right button:nth-of-type(1){
        background-color: transparent;
        color: var(--white);
    }

    .desktop-right button:nth-of-type(2) {
        background: var(--white);
        color: var(--light-red);
        transition: all 0.3s ease-in-out;
    }

    .desktop-right button:nth-of-type(2):hover {
        background: var(--very-light-red);
        color: var(--white);
    }

    .desktop-link-content.desktop-link-active {
        display: block;
    }

    .desktop-link-group .desktop-link {
        position: relative;
    }

    .desktop-link-group .desktop-link::after {
        content: "";
        height: 2px;
        width: 0%;
        background-color: var(--white);
        margin-right: auto;
        transition: all 0.3s ease-in-out;
    }

    .desktop-link-group .desktop-link:hover::after {
        width: 80%;
    }


    /* Intro */

    .intro h1 {
        font-size: 3.5rem;
    }

    .intro p {
        font-size: 1.2rem;
    }

    header .background-shape svg {
        margin-top: -2rem;
    }

    .intro .buttons button:nth-of-type(1):hover {
        background: var(--very-light-red);
        color: var(--white);
    }

    .intro .buttons button:nth-of-type(2):hover {
        background: var(--white);               
        color: var(--light-red);
    }

    /* Designed for the future */

    .design-future .design-future-text h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .design-future .design-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: var(--custom-max-width);
        margin-inline: auto;
    }

    .design-future .design-content .features {
        text-align: left;
        max-width: 32rem;
    }

    .design-future .design-content .features div {
        padding: 0;
    }


    .design-future .design-content .features div p,
    .design-future .design-content .features div h3 {
        max-width: unset;
    }

    .design-future-image {
        order: 1;
        position: relative;
    }

    .design-future-image img {
        max-width: unset;
        width: 40rem;
        position: absolute;
        top: -40%;
        left: 50%;
    }

    /* State of the art section */

    section.state-of-art {
        padding: 0 2rem 0;
        height: 495px;
        display: flex;
        align-items: center;
        background-position: top -43rem left -20rem;
        background-size: 79rem;
    }

    .state-of-art .state-of-art-image {
        bottom: -23%;
        left: -30rem;
    }

    .state-of-art .state-of-art-image img {
        height: 40rem;
        max-width: unset;
    }

    .state-of-art .state-of-art-text {
        max-width: 40rem;
        margin-left: auto;
        text-align: left;
    }

    /* Features two */

    section.features-two {
        display: flex;
        max-width: var(--custom-max-width);
        margin-inline: auto;
        width: 100%;
        justify-content: space-between;
        margin: 16rem 0;
    }

    section.features-two .features-two-image {
        position: relative;
    }

    section.features-two .features-two-image img {
        width: 50rem;
        max-width: unset;
        position: absolute;
        left: -19rem;
        top: -10rem;
    }

    section.features-two .features-two-text {
        max-width: 32rem;
        text-align: left;
    }

    .features-two .features-two-text .feature h3 {
        max-width: unset;
    }

    .features-two .features-two-text .feature p {
        max-width: unset;
        margin-inline: 0;
    }

}
